<div class="d-flex justify-content-center mt-5">    
    <div class="card w-75 p-5" >
        <div class="d-flex justify-content-center">
            <img src="assets/logo/logo192x192.png" class="card-img-top w-25" alt="imagen-usuario">
        </div>
        <div class="card-body text-center">
            <div class="">
                <h3 class="card-title fw-bold fs-2">Z-CLINIC</h3>
                <p class="card-text fw-bold fs-4 text-muted">Inicie sesión o registrese para comenzar.</p>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-primary  fs-4 fw-bold m-2 p-2" routerLink="/registro" >Registrarse</button>
                    <button class="btn btn-primary fs-4 fw-bold m-2 p-2" routerLink="/login" >Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <button class="btn btn-success" routerLink="/login" >Alta usuario</button> -->

<!-- <button class="btn btn-success" routerLink="/usuarios" >Usuarios</button> -->
