<div class="d-flex justify-content-center">    
    <div class="card w-50" >
        <div class="d-flex justify-content-center">
            <img src="assets/logo/logo192x192.png" class="card-img-top w-25" alt="imagen-usuario">
        </div>
        <div class="card-body text-center">
            <div class="">
                <h5 class="card-title">Z-CLINIC</h5>
                <p class="card-text">Inicie sesión o registrese para comenzar.</p>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-primary fs-4 fw-bold" routerLink="/login" >Iniciar Sesión</button>
                    <button class="btn btn-primary fs-4 fw-bold" routerLink="/registro" >Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <button class="btn btn-success" routerLink="/login" >Alta usuario</button> -->

<!-- <button class="btn btn-success" routerLink="/usuarios" >Usuarios</button> -->
