.error {
    color: red;
}

.display {
    display: flex;
}

.width {
    width: 50%;
}

@media (max-width: 700px) {
    .display {
        display: block;
    }

    .width {
        width: 100%;
    }
}