<div class="container-fluid m-0 p-0 bg-light">
    <div class="d-flex bg-dark p-2 justify-content-between">
        <h3 class="fw-bold" appIluminar>Mis Turnos</h3>
        <button class="btn btn-warning fw-bold fs-4 p-2" (click)="limpiar()">Limpiar</button>
    </div>
    <div class="row mx-auto w-50">
        <div class="col border p-2 w-50 bg-dark text-light">        
            <!-- <app-buscador 
            [funcionBuscador]="buscarEspecialistaOEspecialidad" 
            [titulo]="tituloBuscador" 
            [funcionPipe]="transformarTexto" 
            [limpiarDesdeExterior]="limpiarAutocomplete"
            (OnLimpiarBuscador)="limpiarDatos()"
            (OnSeleccionElemento)="obtenerItemSeleccionado($event)" ></app-buscador>             -->





            <div class="mb-3">
                <label for="inputTexto" class="form-label">Buscar por Especialista | Especialidad | Datos del turno</label>
                <div class="d-flex justify-content-around">
                    <input type="text" class="form-control" (keydown)="keyDown($event, inputTexto)" autocomplete="off" #inputTexto name="inputTexto"
                        id="inputTexto">
                    <button class="btn btn-primary m-1" id="btnBuscar" (click)="buscar2(inputTexto)">
                        <!-- https://icons.getbootstrap.com/ -->
                        <i class="bi bi-search fw-bold"></i>
                    </button>
                    <!-- https://icons.getbootstrap.com/ -->
                    <!-- <button class="btn btn-primary m-1" (click)="limpiar2()">
                            <i class="bi bi-x-circle"></i>
                        </button> -->
                </div>
            </div>


        </div>
    </div>

    <div class="row w-100 mx-auto bg-dark text-light text-center">
        <div class="col col border d-none">
            <h3 class="custom-font-headers">Id</h3>
        </div>
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Especialidad</h3>
        </div>
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Especialista</h3>
        </div>
        <div class="col col-12 col-xl-2 border">
        <h3 class="custom-font-headers">Fecha y hora Turno</h3>
    </div>
    
    <!--RESEÑA YA REALIZADA-->
    <div class="col col-12 col-xl-2 border">
        <h3 class="custom-font-headers">Reseñas</h3>
    </div>

    <div class="col col-12 col-xl-1 border">
        <h3 class="custom-font-headers">Controles</h3>
    </div>
    
    <div class="col col-12 col-xl-1 border">
        <h3 class="custom-font-headers">Estado</h3>
    </div>

    <div class="col col-12 col-xl-1 border">
        <h3 class="custom-font-headers">Accion</h3>
    </div>
    <div class="col col-12 col-xl-2 border">
        <h3 class="custom-font-headers">Mis comentarios</h3>
    </div>
    <div class="col col-12 col-xl-1 border">
        <h3 class="custom-font-headers">Encuesta</h3>
    </div>
</div>

<div *ngIf="spinner; else lista" class="d-flex justify-content-center">
    <span class="m-3 fs-3 fw-bold">Cargando...</span>
    <div class="spinner-border text-danger" style="align-self: center; scale: 1.2;"></div>
</div>
<ng-template #lista>
    <div *ngFor="let item of listado | sortBySeconds; let indice = index" class="row w-100 mx-auto"
    [appResaltador]="'green'" 
    style="min-height: 100px;" (click)="seleccionDeFila(item)"
    [class.fila-seleccionada]="filaSeleccionada != null && item.id === filaSeleccionada.id">
    <div class="col col border d-none">
        {{item.id}}
    </div>
    <div class="col col-12 col-xl-1 border custom-font-data columna">
        <p>
            {{item.especialidad}}
        </p>
    </div>
    <div class="col col-12 col-xl-1 border custom-font-data columna">
        <p>
            {{item.nombreEspecialista}}
        </p>
    </div>
    <div class="col col-12 col-xl-2 border custom-font-data columna">
        <p>
            {{item  | turnos : false :false}}
        </p>
        </div>

        <!--RESEÑA-->
        <div class="col col-12 col-xl-2 border custom-font-data columna justify-content-center">
            <ng-container *ngIf="item.comentarioMedico && item.comentarioMedico != ''">
                <div *ngIf="!item.mostrarDetalle; else mostrar">
                    <button class="btn btn-warning" (click)="mostrarDetalle(item)"><i class="bi bi-eye-fill scale"></i></button>
                </div>
                <ng-template #mostrar>
                    <button class="btn btn-warning m-1" (click)="mostrarDetalle(item)"><i class="bi bi-eye-slash-fill scale"></i></button>
                    <textarea class="form-control w-100 deshabilitado resize" disabled readonly>{{item.comentarioMedico}}</textarea>
                </ng-template>
            </ng-container>
        </div>
        
        <!--DETALLES-->
        <div class="col col-12 col-xl-1 border d-flex" style="align-items: center !important;">
        <ng-container *ngIf="item.datos; else noHc">
            <div>
                <button class="btn btn-success fs-3 fw-bold m-1" (click)="verDetalles(item)">Detalles</button>
            </div>
        </ng-container>
        <ng-template #noHc>
            <div class="d-flex" style="align-items: center;">
                <h3 class="custom-font-headers">Sin Controles</h3>
            </div>
        </ng-template>
    </div>

        <div class="col col-12 col-xl-1 border custom-font-data columna justify-content-center">
            <p class="text-center">
                {{item.estadoTurno}}
            </p>
        </div>
        
        <!--CANCELAR O CALIFICAR-->
        <div class="col col-12 col-xl-1 border custom-font-data text-right columna">
            <ng-container *ngIf="item.estadoTurno == 'Realizado'">
                <div class="d-flex fs-6" style="flex-direction: column;">
                    <p style="font-size: 15px; text-align: center;">{{item.calificado ? 'Calificado' : 'Calificar Atención'}}</p>
                    <div class="d-flex justify-content-around p-0 m-0 w-100">
                        <button class="btn btn-warning m-1" [disabled]="item.calificado" 
                        [ngClass]="{'deshabilitado' : item.calificado}" (click)="calificarOK(item, indice)">
                        <!--OK-->
                            <i class="bi bi-hand-thumbs-up-fill scale" [hidden]="!item.calificacionOK"></i>
                            <i class="bi bi-hand-thumbs-up scale" [hidden]="item.calificacionOK"></i>
                        </button>               
                        
                        <button class="btn btn-warning m-1" [disabled]="item.calificado" [ngClass]="{'deshabilitado' : item.calificado}" (click)="calificarNOOK(item, indice)">
                            <!--NO OK-->
                            <i class="bi bi-hand-thumbs-down-fill scale" [hidden]="!item.calificacionNOOK"></i>
                            <i class="bi bi-hand-thumbs-down scale" [hidden]="item.calificacionNOOK"></i>
                        </button>
                    </div>
                </div>
            </ng-container>   
            
            <ng-container *ngIf="item.estadoTurno != 'Realizado' && item.estadoTurno != 'Rechazado' && item.estadoTurno != 'Cancelado'">
                <div class="d-flex justify-content-center w-100">
                    <button class="btn btn-danger fw-bold fs-4 m-1" (click)="cancelar(item, indice)">Cancelar
                    </button>
                </div>
            </ng-container>            
        </div>
        
        <div class="col col-12 col-xl-2 border custom-font-data columna justify-content-center">
            <ng-container *ngIf="item.calificado || item.estadoTurno == 'Cancelado'; else mostrarInput">
                <ng-container *ngIf="item.comentarioPaciente && item.comentarioPaciente != ''">
                    <div *ngIf="!item.mostrarComentario; else mostrarComentarios">
                        <button class="btn btn-warning" (click)="mostrarComentario(item)"><i class="bi bi-eye-fill scale"></i></button>
                    </div>
                    <ng-template #mostrarComentarios>
                    <button class="btn btn-warning m-1" (click)="mostrarComentario(item)"><i class="bi bi-eye-slash-fill scale"></i></button>
                    <textarea class="form-control w-100 deshabilitado resize" disabled readonly>{{item.comentarioPaciente}}</textarea>
                </ng-template>
            </ng-container>
        </ng-container>
        <ng-template #mostrarInput>
            <ng-container *ngIf="item.estadoTurno == 'Solicitado' || item.estadoTurno == 'Realizado' || item.estadoTurno == 'Aceptado'">
                <textarea [id]="'comentarioPaciente' + indice" class="w-100 resize form-control"></textarea>
            </ng-container>
        </ng-template>
        </div>

        <div class="col col-12 col-xl-1 border custom-font-data columna justify-content-center">
            <ng-container *ngIf="item.estadoTurno == 'Realizado' && item.comentarioMedico && item.comentarioMedico != ''">
                <button [hidden]="item.realizoEncuesta" class="btn btn-primary fw-bold fs-4 m-1" (click)="abrirEncuesta(item)">Encuesta</button>
            <ng-container  *ngIf="item.realizoEncuesta">
                <label class="form-label text-center">Encuesta Completada</label>
            </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>
</div>

<app-loader *ngIf="cargando"></app-loader>
<app-encuesta *ngIf="completarEncuesta" 
(onEncuestaCompletada)="guardarEncuesta($event)"
[turno]="turnoParaEncuesta" 
(onEncuestaCancelada)="encuestaCancelada()"
></app-encuesta>

<app-detalle-hc (OnCerrar)="cerrarDetalles()" *ngIf="mostrarDetalles" [dato]="datoDetalle"></app-detalle-hc>
