<div class="row p-0 m-0" >
    <div class="entrada p-0 m-0">
        <div class="bg-dark">
            <h3 class="text-center" appIluminar>Mi Perfil</h3>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col col-12 col-md-8 mt-5 mx-auto p-0 m-0">
                <div class="card mx-auto">
                    <div class="card-body text-start fondo">
                        <div *ngIf="!usuario; else user" class="d-flex justify-content-center"
                            style="align-items: center; height: 100% !important;">
                            <h3 class="text-dark fw-bold fs-1">
                                Cargando...
                            </h3>
                            <div class="spinner-border text-dark" style="align-self: center; scale: 1;">
                            </div>
                        </div>
                        <ng-template #user>
                            <div class="row w-100">
                                <div class="col col-12 col-md-6">
                                    <div class="d-flex justify-content-around imagen-centrada" *ngIf="usuario != null">
                                        <ng-container *ngIf="esUsuario">
                                            <div class="row">
                                                <div class="col col-12 col-md-6">
                                                    <div class="text-center p-2" *ngIf="esUsuario">
                                                        <img [src]="usuario?.imagen1" class="imagen" height="250"
                                                            width="300px" alt="imagen 1 del usuario">
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-md-6">
                                                    <div class="text-center p-2" *ngIf="esUsuario">
                                                        <img [src]="usuario?.imagen2" class="imagen" height="250"
                                                            width="300px" alt="imagen 2 del usuario">
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="col-md-12 mx-auto mt-2 text-center" style="" *ngIf="!esUsuario">
                                            <img [src]="usuario?.imagen" class="imagen" height="200" width="400px"
                                                alt="imagen 1 del usuario">
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-12 col-md-6">
                                    <div style="padding-left: 10px;">
                                        <div class="text-start">
                                            <h4 class="card-title">Nombre: {{usuario?.nombre}}</h4>
                                        </div>
                                        <div class="text-start">
                                            <h4>Apellido: {{usuario?.apellido}}</h4>
                                        </div>
                                        <div class="text-start">
                                            <h4>Edad: {{usuario?.edad}}</h4>
                                        </div>

                                        <div class="text-start">
                                            <h4>Email: {{usuario?.correo}}</h4>
                                        </div>
                                        <div class="text-start">
                                            <h4>DNI: {{usuario?.dni}}</h4>
                                        </div>
                                        <div class="text-start">
                                            <h4>Tipo de usuario: {{usuario?.perfil | tipoUsuario}}</h4>
                                            <div *ngIf="esEspecialista" class="text-start">
                                                <h4>Especialidades:</h4>
                                                <ng-container *ngIf="usuario?.especialidades">
                                                    <h5 *ngFor="let espe of usuario?.especialidades"> {{espe.nombre |
                                                        titlecase}}
                                                    </h5>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div *ngIf="usuario && esEspecialista">
                                            <div
                                                *ngIf="usuarioObservable?.horarios && usuarioObservable?.horarios.length > 0">
                                                <h4 class="fw-bold">Horarios de atención</h4>
                                                <div
                                                    *ngFor="let horario of usuarioObservable?.horarios | sortdiashorarios">
                                                    <h5> {{horario | turnos}} </h5>
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning fw-bold fs-4" routerLink="mis-horarios"
                                                    (click)="cargarHorarios()">Cargar
                                                    horarios</button>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-around">
                                            <button class="btn btn-danger fs-4 fw-bold p-2 m-2" *ngIf="esUsuario"
                                                (click)="descargarPDF()">Descargar PDF</button>

                                            <button class="btn btn-primary fs-4 fw-bold p-2 m-2" *ngIf="esUsuario"
                                                (click)="verHC()">Historia Clínica</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="esUsuario" class="row w-100 d-flex justify-content-center">
    <div class="col col-12 col-md-4">
        <div style="max-height: 700px; min-height: 160px;">
            <div class="border p-2 w-100 bg-dark text-light">
                <h3 class="fs-4 text-center">Descargar Historia Clínica por especialista</h3>
                <div *ngIf="spinner; else lista" class="d-flex justify-content-around">
                    <span class="fs-3 fw-bold">Cargando...</span>
                    <div class="spinner-border text-danger text-center" style="align-self: center; scale: 1.2;"></div>
                </div>
                <ng-template #lista>
                    <ng-container *ngIf="especialistas">
                        <div *ngIf="especialistas.length > 0; else sinEspecialistas" class="bg-light" style="max-height: 700px; min-height: 160px; overflow-y: auto">
                            <div *ngFor="let especialista of especialistas" [appResaltador]="'green'" > 
                                <div class="d-flex justify-content-center mx-0 border text-dark"                                
                                >         
                                <!--Descomentar la linea de abajo para que quede seleccionado de verde.-->        
                                <!-- [class.fila-seleccionada]="filaSeleccionada != null && especialista.id === filaSeleccionada.id"> -->
                                <!-- <p class="m-2 custom-font-data">{{especialista | especialistas}}</p> -->                                       
                                <button [class.fila-seleccionada]="filaSeleccionada != null && especialista.id === filaSeleccionada.id"
                                 class="btn btn-primary"  type="button" style="border-radius: 50%; min-width: 150px;"
                                (click)="seleccionEspecialista(especialista)" 
                                >                        
                                    <img [src]="especialista.imagen" style="border-radius: 50%;" alt="Imagen especialista" height="100px" width="100px">
                                    <p class="text-light fw-bold fs-6">{{especialista.apellido}}, {{especialista.nombre}}</p>
                                </button> 
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
            <ng-template #sinEspecialistas>
                <h2>La especialidad seleccionada NO CUENTA con especialistas por el momento.</h2>
            </ng-template>
            </div>
        </div>
    </div>
</div>


<app-loader *ngIf="cargando"></app-loader>
<app-historia (OnCerrar)="cerrarHC()" [historia]="historiaClinica" *ngIf="mostrarHC"></app-historia>