.imagen{
    border-radius: 50%;
}

.fondo{
    background-color: rgba(115, 193, 167, 0.81);
}

.imagen-centrada{
    display: flex;
    align-items: center;
    height: 100%;
}

.custom-font {
    font-size: 3em !important;
    font-weight: bold !important;
}