.custom-font-headers {
    font-size: 1.4em !important;
    font-weight: bold !important;
}

.custom-font-data {
    font-size: 1.03em !important;
    word-wrap: break-word;
    font-weight: bold;
}

.fila-seleccionada {
    background-color: #009331 !important;
    color: #fff !important;
    font-weight: bold !important;

    .nueva-especialidad {
        color: black !important;
    }
}

.custom-font {
    font-size: 3em !important;
    font-weight: bold !important;
}

.custom-pointer {
    cursor: pointer;
}

img {
    height: 100px;
}

.imagen-usuario {
    border-radius: 100px;
    width: 100px;
}

.textarea {
    resize: none;
    height: 100%;
}

.nueva-especialidad {
    color: red;
    font-weight: bolder;
    font-size: 1.03em;
}

.columna {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

p{
    margin: 0;
}

.deshabilitado{
    background-color: var(--bs-secondary-bg) !important;
}

.resize{
    resize: none;
}

.scale{
    font-size: 24px;
}