<div class="container-fluid">
    <div class="row bg-dark text-light text-center">
        <div class="col-sm border d-none">
            <h3 class="custom-font-headers">Id</h3>
        </div>
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Nombre</h3>
        </div>
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Apellido</h3>
        </div>
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Edad</h3>
        </div>
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Dni</h3>
        </div>
        <div class="col col-12 col-xl-2 border">
            <h3 class="custom-font-headers">Especialidades</h3>
        </div>
        <div class="col col-12 col-xl-2 border">
            <h3 class="custom-font-headers">Correo</h3>
        </div> 
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Registro</h3>
        </div> 
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Estado</h3>
        </div>
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Motivo rechazo</h3>
        </div>
        <div class="col col-12 col-xl-1 border">
            <h3 class="custom-font-headers">Habilitar</h3>
        </div>
    </div>

    <div *ngIf="spinner; else lista" class="d-flex justify-content-center">
        <span class="m-3 fs-3 fw-bold">Cargando...</span>
        <div class="spinner-border text-danger" style="align-self: center; scale: 1.2;"></div>
    </div>
    <ng-template #lista>
        <div *ngFor="let item of listado" class="row custom-pointer bg-light" (click)="seleccionDeFila(item)"
            [class.fila-seleccionada]="filaSeleccionada != null && item.id === filaSeleccionada.id">
            <div class="col-sm border d-none">
                {{item.id}}
            </div>
            <div class="col col-12 col-xl-1 border custom-font-data">
                {{item.nombre}}
            </div>
            <div class="col col-12 col-xl-1 border custom-font-data">
                {{item.apellido}}
            </div>
            <div class="col col-12 col-xl-1 border custom-font-data">
                {{item.edad}}
            </div>
            <div class="col col-12 col-xl-1 border custom-font-data">
                {{item.dni}}
            </div>
            <div class="col col-12 col-xl-2 border custom-font-data text-right">
                <p *ngFor="let especialidad of item | especialidades; let i = index"
                    [ngClass]="{'nueva-especialidad' : i != 0}">{{especialidad}}</p>
            </div>
            <div class="col col-12 col-xl-2 border custom-font-data text-right">
                {{item.correo}}
            </div>  
            <div class="col col-12 col-xl-1 border custom-font-data text-right">
                {{item.fechaRegistro | fechaString}}
            </div> 
            <div class="col col-12 col-xl-1 border custom-font-data text-right">
                {{item.habilitado | estados}}
            </div>
            <div class="col col-12 col-xl-1 border custom-font-data text-right">
                <textarea type="text" class="form-control textarea" #mensajeRechazo></textarea>
            </div>
            <div class="col col-12 col-xl-1 border custom-font-data text-right">
                <button class="btn btn-success fw-bold fs-4 w-100" (click)="aceptar(item)">Habilitar</button>
                <button class="btn btn-danger fw-bold fs-4 w-100"
                    (click)="rechazar(item, mensajeRechazo)">Rechazar</button>
            </div>
        </div>
    </ng-template>
</div>