<div style="max-height: 700px; min-height: 160px;">
    <div class="border p-2 w-100 bg-dark text-light">
        <h3>{{titulo}}</h3>
        <div *ngIf="spinner; else lista" class="d-flex justify-content-around">
            <span class="fs-3 fw-bold">Cargando...</span>
            <div class="spinner-border text-danger text-center" style="align-self: center; scale: 1.2;"></div>
        </div>
        <ng-template #lista>
            <ng-container *ngIf="especialistas">
                <div *ngIf="especialistas.length > 0; else sinEspecialistas" class="bg-light" style="max-height: 700px; min-height: 160px; overflow-y: auto">
                    <div *ngFor="let especialista of especialistas" [appResaltador]="'green'" > 
                        <div class="d-flex justify-content-center mx-0 border text-dark"
                        
                        >         
                        <!--Descomentar la linea de abajo para que quede seleccionado de verde.-->        
                        <!-- [class.fila-seleccionada]="filaSeleccionada != null && especialista.id === filaSeleccionada.id"> -->
                        <!-- <p class="m-2 custom-font-data">{{especialista | especialistas}}</p> -->                                       
                        <button [class.fila-seleccionada]="filaSeleccionada != null && especialista.id === filaSeleccionada.id"
                         class="btn btn-primary"  type="button" style="border-radius: 50%; min-width: 150px;"
                        (click)="seleccionEspecialista(especialista)" 
                        >                        
                            <img [src]="especialista.imagen" style="border-radius: 50%;" alt="Imagen especialista" width="100px">
                            <p class="text-light fw-bold fs-6">{{especialista.apellido}}, {{especialista.nombre}}</p>
                        </button> 
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #sinEspecialistas>
        <h2>La especialidad seleccionada NO CUENTA con especialistas por el momento.</h2>
    </ng-template>
    </div>
</div>