.custom-font-headers {
    font-size: 1.4em !important;
    font-weight: bold !important;
}

.custom-pointer {
    font-size: 1.03em !important;
    word-wrap: break-word;
    font-weight: bold;
}

.fila-seleccionada {
    background-color: #009331 !important;
    color: #fff !important;
    font-weight: bold !important;

    .nueva-especialidad {
        color: black !important;
    }
}

.custom-font {
    font-size: 3em !important;
    font-weight: bold !important;
}

.custom-pointer {
    cursor: pointer;
}

img {
    height: 100px;
}

.imagen-usuario {
    border-radius: 100px;
    width: 100px;
}

.textarea {
    resize: none;
    height: 100%;
}

.nueva-especialidad {
    color: red;
    font-weight: bolder;
    font-size: 1.03em;
}

.columna {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

.entrada{
    -webkit-animation:slide-in-top 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both

}

@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
