<div class="loader-fondo">
    <div class="row w-100">
        <div class="col col-12 d-flex justify-content-center">
            <div class="card w-75 d-flex justify-content-center">
                <div class=" d-flex justify-content-center m-3">
                    <img class="card-img-top foto" [src]="historia?.paciente?.imagen1" alt="Imagen paciente">
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">Historia Clínica de {{historia?.paciente?.apellido}},
                        {{historia?.paciente?.nombre}}</h3>
                    <h5 class="card-subtitle mb-2 text-muted">Datos Actuales</h5>
                    <p class="card-text">Altura: {{historia?.altura}} mt.</p>
                    <p class="card-text">Peso: {{historia?.peso}} kg.</p>
                    <p class="card-text">Temperatura: {{historia?.temperatura}} °C</p>
                    <p class="card-text">Presión: {{historia?.presion1}}/{{historia?.presion2}} mmHg</p>
                    <ng-container *ngIf="historia?.datos && historia?.datos?.length > 0">
                        <h5 class="card-subtitle mb-2 text-muted">Datos Historicos</h5>
                        <div *ngFor="let dato of historia?.datos | sortBySeconds : true">
                            <p class="card-text">{{dato | datosTurno}}</p>
                        </div>
                    </ng-container>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary fs-4 fw-bold p-2 m-2" (click)="cerrar()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>