.error {
    color: red;
}

.botones{
    background:rgb(76, 204, 62);
    border-radius:50%; 
    border: none;
}
.img-foto{
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.entrada{
    -webkit-animation:rotate-in-2-ccw .5s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-2-ccw .5s cubic-bezier(.25,.46,.45,.94) both

}

@-webkit-keyframes rotate-in-2-ccw{0%{-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-2-ccw{0%{-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}
